.Search {
  /* width: 100vw; */
  height: 30vh;
  text-align: center;
}

.Search__Title  {
  font: 1em sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

/* @fontface {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
} */
